<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simplerichtext">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".RichTextView.RichTextActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".Base.BaseActivity" />
        <activity android:name=".Main.Activities.MyPublishActivity" />
        <activity android:name=".Add.AddActivity" />
        <activity android:name=".Main.Activities.NovelCaptureActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/simple_photofile" />
        </provider>

        <activity android:name=".Add.BookBriefActivity" />
        <activity android:name=".Add.BookTypeActivity" />
        <activity android:name=".Main.Activities.EDBookNameActivity"></activity>
    </application>

</manifest>